#header {
    top: 0;
    position:absolute;
    width: 100%;
    margin: 0;
}

#footer {
    bottom: 0;
    position:absolute;
    width: 100%;
    margin: 0;
    text-shadow: 3px 2px grey;
    background-color: #99E1E5;
}

body {
    background-color:#00ADB5;
}

#note {
    font-size: 14px;
    font-weight: bold;
}
